<div>        
        <table class="table">
            <thead>
                <h1 class="tableHeader">Roster</h1>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">School</th>
                      <th scope="col">Position</th>
                      <th scope="col">High School</th>
                      <th scope="col">Birth City</th>
                    </tr>
            </thead>
            
            <tbody>
                <tr>
                      <th scope="col"> R.J. Barrett {{this.name}}</th>
                      <th scope="col"> Duke {{ this.school }}</th>
                      <th scope="col"> SG {{this.position}}</th>
                      <th scope="col"> Montverde Academy {{this.highschool}}</th>
                      <th scope="col"> Mississauga {{this.birht_city}}</th>            
            
                </tr>
                <tr>
                      <th scope="col"> Joey Baker {{this.name}}</th>
                      <th scope="col"> Duke {{ this.school }}</th>
                      <th scope="col"> SF {{this.position}}</th>
                      <th scope="col"> Trinity Christian {{this.highschool}}</th>
                      <th scope="col"> Fayetteville {{this.birht_city}}</th>            
            
                </tr>
                 <tr>
                      <th scope="col"> Brennan Besser {{this.name}}</th>
                      <th scope="col"> Duke {{ this.school }}</th>
                      <th scope="col"> G {{this.position}}</th>
                      <th scope="col"> The Latin School of Chicago {{this.highschool}}</th>
                      <th scope="col"> Chicago {{this.birht_city}}</th>            
            
                </tr>
                <tr>
                      <th scope="col"> Marques Bolden </th>
                      <th scope="col"> Duke </th>
                      <th scope="col"> C </th>
                      <th scope="col"> DeSoto High School </th>
                      <th scope="col"> Dallas </th>            
            
                </tr>
                 <tr>
                      <th scope="col"> Mike Buckmire </th>
                      <th scope="col"> Duke </th>
                      <th scope="col"> G </th>
                      <th scope="col"> Germantown Friends School </th>
                      <th scope="col"> Blue Bell </th>            
            
                </tr>
                 <tr>
                      <th scope="col"> Javin DeLaurier </th>
                      <th scope="col"> Duke </th>
                      <th scope="col"> PF </th>
                      <th scope="col"> St. Anne's-Belfield School </th>
                      <th scope="col"> Charlottesville </th>            
            
                </tr>
            </tbody>
           
        </table>
    </div>
