<a href="/team">Home</a>

<div>
    {{#each school}}
    <p>number: {{number}} </p>
        <p>name: {{name}} </p>
        <p>class: {{class}} </p>
        <p>position: {{position}} </p>
        <p>birth_city: {{birth_city}} </p>
        <p>highschool: {{highschool}} </p>
        <p>school: {{school}} </p>
    {{/each}}
</div>



